<template>
  <div class="edit-graduate">
    <h1>{{ graduate.firstname }} {{ graduate.lastname }}</h1>
    <graduate-form :graduate="graduate"></graduate-form>
  </div>
</template>

<script>
import GraduateForm from '@/components/graduates/GraduateForm'
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  components: {
    GraduateForm
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('users/fetchGraduate', params.id)
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch event at this time. Please try again.'
      })
    }
  },
  computed: mapState({
    graduate: state => state.users.graduate
  })
}
</script>
