<template>
  <div class="edit-agent">
    <h1>title</h1>
    <agent-form :editing="true" :agent="agent"></agent-form>
  </div>
</template>

<script>
import AgentForm from '@/components/agents/AgentForm'
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  components: {
    AgentForm
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('users/fetchAgent', params.id)
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch agent at this time. Please try again.'
      })
    }
  },
  computed: mapState({
    agent: state => state.users.agent
  })
}
</script>

<style></style>
