<template>
  <form @submit.prevent="onSubmit">
    <v-layout row wrap>
      <v-flex md6 pa-3>
        <v-text-field
          label="Usuario"
          v-model="user.username"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Email"
          v-model="user.email"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Nombre"
          v-model="user.name"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Apellidos"
          v-model="user.lastname"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Teléfono"
          v-model="user.phone"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="No. de boletos"
          :mask="'###'"
          v-model="user.tickets"
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field label="No. de mesa" v-model="user.table"></v-text-field>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <h2 class="mt-4">Menú especial</h2>
    <v-layout row wrap>
      <v-flex md6 pa-3>
        <v-text-field
          label="Silla de ruedas"
          v-model="user.special_menu.wheelchair"
          :mask="'###'"
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Niños"
          v-model="user.special_menu.kids"
          :mask="'###'"
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Alérgicos"
          v-model="user.special_menu.allergies"
          :mask="'###'"
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Diabéticos"
          v-model="user.special_menu.diabetic"
          :mask="'###'"
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Vegetarianos"
          v-model="user.special_menu.vegetarian"
          :mask="'###'"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 pa-3>
        <v-btn color="indigo darken-2 white--text ma-0" type="submit"
          >Guardar</v-btn
        >
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
export default {
  props: {
    graduate: {
      type: Object
    }
  },
  data() {
    return {
      user: {
        username: this.graduate ? this.graduate.name : '',
        email: this.graduate ? this.graduate.email : '',
        name: this.graduate ? this.graduate.firstname : '',
        lastname: this.graduate ? this.graduate.lastname : '',
        phone: this.graduate ? this.graduate.phone : '',
        tickets: this.graduate ? this.graduate.tickets : '',
        table: this.graduate ? this.graduate.table_number : '',
        special_menu: {
          wheelchair: this.graduate.menu_especial
            ? this.graduate.menu_especial.silla_de_ruedas
            : 0,
          kids: this.graduate.menu_especial
            ? this.graduate.menu_especial.ninos
            : 0,
          allergies: this.graduate.menu_especial
            ? this.graduate.menu_especial.alergicos
            : 0,
          diabetic: this.graduate.menu_especial
            ? this.graduate.menu_especial.diabeticos
            : 0,
          vegetarian: this.graduate.menu_especial
            ? this.graduate.menu_especial.vegetarianos
            : 0
        }
      }
    }
  },
  methods: {
    onSubmit() {
      this.$store
        .dispatch('users/updateGraduate', {
          id: this.graduate.id,
          userData: this.user
        })
        .then(() => {
          this.$router.push({
            name: 'admin-events-id',
            params: { id: this.graduate.event }
          })
        })
    }
  }
}
</script>

<style></style>
