<template>
  <form @submit.prevent="onSubmit">
    <v-layout row wrap>
      <v-flex md6 pa-3>
        <v-text-field
          label="Título"
          v-model="event.title"
          v-validate="'required'"
          data-vv-name="title"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Escuela"
          v-model="event.school"
          v-validate="'required'"
          data-vv-name="school"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="computedDateFormattedMomentjs"
              clearable
              label="Fecha"
              prepend-inner-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="event.date"
            @change="menu = false"
            locale="es"
          ></v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          prefix="$"
          label="Precio del boleto"
          v-model="event.ticket_price"
          v-validate="'required'"
          data-vv-name="ticket_price"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-select
          :items="venues"
          label="Venue"
          item-text="title.rendered"
          item-value="id"
          v-model="event.venue"
        ></v-select>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field label="Facebook Url" v-model="event.fbUrl"></v-text-field>
      </v-flex>
      <v-flex xs12 pa-3>
        <div>
          <div
            :content="event.description"
            @change="onEditorChange($event)"
            v-quill:myQuillEditor="editorOption"
            class="quill-editor"
          ></div>
        </div>
      </v-flex>
      <v-flex xs12 pa-3>
        <label for>Layout</label>
        <dropzone
          id="foo"
          ref="el"
          :options="options"
          :destroy-dropzone="true"
          @vdropzone-file-added="addLayout"
          @vdropzone-removed-file="removeLayout"
        />
      </v-flex>
      <v-flex xs12 pa-3>
        <v-btn color="indigo darken-2 white--text ma-0" type="submit">
          <span v-if="!editing">Crear evento</span>
          <span v-else>Guardar</span>
        </v-btn>
        <span v-if="loading">
          <v-progress-circular
            :size="20"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </span>
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
import moment from 'moment'
import Dropzone from 'nuxt-dropzone'
import 'nuxt-dropzone/dropzone.css'
export default {
  components: {
    Dropzone
  },
  props: {
    venues: {
      type: Array
    },
    currentEvent: {
      type: Object
    },
    editing: {
      type: Boolean
    }
  },
  data() {
    return {
      menu: false,
      event: {
        title: this.currentEvent ? this.currentEvent.title.rendered : '',
        school: this.currentEvent ? this.currentEvent.escuela : '',
        date: this.currentEvent
          ? new Date(this.currentEvent.fecha).toISOString().substr(0, 10)
          : new Date().toISOString().substr(0, 10),
        ticket_price: this.currentEvent
          ? this.currentEvent.precio_del_boleto
          : '',
        venue: this.currentEvent ? this.currentEvent.venue.ID : '',
        fbUrl: this.currentEvent ? this.currentEvent.facebook_url : '',
        description: this.currentEvent
          ? this.currentEvent.description.replace(/\n/g, '')
          : '',
        layout: null
      },
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block']
          ]
        }
      },
      options: {
        url: process.env.baseUrl,
        addRemoveLinks: true,
        maxFiles: 1
      },
      loading: false
    }
  },
  mounted() {
    if (this.currentEvent && this.currentEvent.layout) {
      this.$refs.el.manuallyAddFile(
        {
          id: this.currentEvent.layout.id,
          size: this.currentEvent.layout.filesize,
          name: this.currentEvent.layout.name,
          type: this.currentEvent.layout.mime_type
        },
        this.currentEvent.layout.url
      )
    }
  },
  methods: {
    onSubmit() {
      this.$validator.validate().then(valid => {
        if (!valid) {
          console.log('errors in form')
        } else if (!this.editing) {
          this.$store.dispatch('events/createEvent', this.event).then(() => {
            this.$router.push({ name: 'admin-events' })
          })
        } else {
          this.$store
            .dispatch('events/updateEvent', {
              oldVersion: this.currentEvent,
              event: this.event
            })
            .then(() => {
              this.$router.push({ name: 'admin-events' })
            })
        }
      })
    },
    onEditorChange({ html }) {
      this.event.description = html
    },
    addLayout(file) {
      if (this.$refs.el.dropzone.files.length > 1) {
        this.$refs.el.removeFile(this.$refs.el.dropzone.files[0])
      }
      this.event.layout = file
    },
    removeLayout() {
      if (this.$refs.el.dropzone.files.length === 0) {
        this.event.layout = ''
      }
    }
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.event.date ? moment(this.event.date).format('YYYY-MM-DD') : ''
    }
  }
}
</script>

<style scoped>
.quill-editor {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}
</style>
