<template>
  <div class="edit-venue">
    <h1>Venue title</h1>
    <venue-form :currentVenue="venue" :editing="true"></venue-form>
  </div>
</template>

<script>
import VenueForm from '@/components/venues/VenueForm'
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  components: {
    VenueForm
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('venues/fetchVenue', params.id)
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch venue at this time. Please try again.'
      })
    }
  },
  computed: mapState({
    venue: state => state.venues.venue
  })
}
</script>

<style></style>
