<template>
  <form @submit.prevent="onSubmit">
    <v-layout row wrap>
      <v-flex xs12 pa-3>
        <v-text-field
          label="Título"
          v-model="venue.title"
          v-validate="'required'"
          data-vv-name="title"
          required
        ></v-text-field>
      </v-flex>
      <v-flex xs12 pa-3>
        <div>
          <div
            :content="venue.description"
            @change="onEditorChange($event)"
            v-quill:myQuillEditor="editorOption"
            class="quill-editor"
          ></div>
        </div>
      </v-flex>
      <v-flex xs12 pa-3>
        <label for>Galería</label>
        <dropzone
          id="venue-dz"
          ref="venueDz"
          :options="options"
          :destroy-dropzone="true"
          @vdropzone-file-added="addToGallery"
          @vdropzone-removed-file="removeFromGallery"
        />
      </v-flex>
      <v-flex xs12 pa-3>
        <v-btn color="indigo darken-2 white--text ma-0" type="submit">
          <span v-if="!editing">Crear venue</span>
          <span v-else>Guardar</span>
        </v-btn>
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
import Dropzone from 'nuxt-dropzone'
import 'nuxt-dropzone/dropzone.css'
export default {
  components: {
    Dropzone
  },
  props: {
    currentVenue: {
      type: Object
    },
    editing: {
      type: Boolean
    }
  },
  data() {
    return {
      galleryLoopIndex: 0,
      venue: {
        title: this.currentVenue ? this.currentVenue.title.rendered : '',
        description: this.currentVenue
          ? this.currentVenue.description.replace(/\n/g, '')
          : '',
        gallery: []
      },
      options: {
        url: process.env.baseUrl,
        addRemoveLinks: true
      },
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block']
          ]
        }
      }
    }
  },
  mounted() {
    if (this.editing && this.currentVenue.gallery.length > 0) {
      this.currentVenue.gallery.forEach(image => {
        this.$refs.venueDz.manuallyAddFile(
          {
            id: image.image.id,
            size: image.image.filesize,
            name: image.image.name,
            type: image.image.mime_type
          },
          image.image.url
        )
      })
    }
  },
  methods: {
    onSubmit() {
      this.$validator.validate().then(valid => {
        if (!valid) {
          console.log('errors in form')
        } else if (!this.editing) {
          this.$store.dispatch('venues/createVenue', this.venue).then(() => {
            this.$router.push({ name: 'admin-venues' })
          })
        } else {
          this.$store
            .dispatch('venues/updateVenue', {
              oldVersion: this.currentVenue,
              venue: this.venue
            })
            .then(() => {
              this.$router.push({ name: 'admin-venues' })
            })
        }
      })
    },
    addToGallery(file) {
      this.venue.gallery.push(file)
    },
    removeFromGallery(file) {
      const newGalleryArray = this.venue.gallery.filter(image => {
        return image.id !== file.id
      })
      this.venue.gallery = newGalleryArray
    },
    onEditorChange({ html }) {
      this.venue.description = html
    }
  }
}
</script>

<style scoped>
.quill-editor {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}
</style>
