<template>
  <form @submit.prevent="onSubmit">
    <v-layout row wrap>
      <v-flex md6 pa-3>
        <v-text-field
          label="Usuario"
          v-model="user.username"
          v-validate="'required'"
          data-vv-name="username"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Email"
          v-model="user.email"
          v-validate="'required|email'"
          data-vv-name="email"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Nombre"
          v-model="user.firstname"
          v-validate="'required'"
          data-vv-name="firstname"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Apellidos"
          v-model="user.lastname"
          v-validate="'required'"
          data-vv-name="lastname"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3>
        <v-text-field
          label="Teléfono"
          v-model="user.phone"
          v-validate="'required'"
          data-vv-name="phone"
          required
        ></v-text-field>
      </v-flex>
      <v-flex md6 pa-3 v-if="!editing">
        <v-text-field
          label="Contraseña"
          :type="'password'"
          v-model="user.password"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 pa-3>
        <v-btn color="indigo darken-2 white--text ma-0" type="submit">
          <span v-if="!editing">Crear agente</span>
          <span v-else>Guardar</span>
        </v-btn>
      </v-flex>
    </v-layout>
  </form>
</template>

<script>
export default {
  props: {
    editing: {
      type: Boolean
    },
    agent: {
      type: Object
    }
  },
  data() {
    return {
      user: {
        username: this.agent ? this.agent.name : '',
        email: this.agent ? this.agent.email : '',
        firstname: this.agent ? this.agent.firstname : '',
        lastname: this.agent ? this.agent.lastname : '',
        phone: this.agent ? this.agent.phone : '',
        password: ''
      }
    }
  },
  methods: {
    onSubmit() {
      this.$validator.validate().then(valid => {
        if (!valid) {
          console.log('errors in form')
        } else if (!this.editing) {
          this.$store.dispatch('users/createAgent', this.user).then(() => {
            this.$router.push({ name: 'admin-agents' })
          })
        } else {
          this.$store
            .dispatch('users/updateAgent', {
              id: this.agent.id,
              user: this.user
            })
            .then(() => {
              this.$router.push({ name: 'admin-agents' })
            })
        }
      })
    }
  }
}
</script>

<style></style>
