<template>
  <div class="edit-event">
    <h1>{{ event.title.rendered }}</h1>
    <event-form
      :venues="venues"
      :currentEvent="event"
      :editing="true"
    ></event-form>
  </div>
</template>

<script>
import EventForm from '@/components/events/EventForm'
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  components: {
    EventForm
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('events/fetchEvent', params.id)
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch event at this time. Please try again.'
      })
    }

    try {
      await store.dispatch('venues/fetchVenues')
    } catch (e) {
      console.log(e)
    }
  },
  computed: mapState({
    event: state => state.events.event,
    venues: state => state.venues.venues
  })
}
</script>

<style></style>
