<template>
  <v-app id="inspire">
    <v-toolbar color="blue-grey" dark fixed app clipped-right>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <!-- <v-toolbar-title>Toolbar</v-toolbar-title> -->
      <v-spacer></v-spacer>
      <v-btn flat @click="logout">Cerrar sesión</v-btn>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-toolbar>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Prom Nite
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-tile
          @click.stop="left = !left"
          :to="{ name: 'dashboard-event' }"
        >
          <v-list-tile-action>
            <v-icon>event</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Mi evento</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click.stop="left = !left"
          :to="{ name: 'dashboard-venue' }"
        >
          <v-list-tile-action>
            <v-icon>place</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Mi venue</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click.stop="left = !left"
          :to="{ name: 'dashboard-payments' }"
        >
          <v-list-tile-action>
            <v-icon>payment</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Mis pagos</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <v-flex xs12>
            <nuxt />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  middleware: ['check-auth', 'auth'],
  data() {
    return {
      drawer: null,
      left: false
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>

<style></style>
