<template>
  <v-container class="login" fill-height fluid px-0>
    <v-layout align-center justify-center>
      <v-flex md6>
        <v-card class="pa-4">
          <h1 class="display-1">Inicia sesión</h1>
          <form @submit.prevent="onSubmit" class="body-1">
            <v-text-field
              label="Usuario"
              v-model="user.username"
            ></v-text-field>
            <v-text-field
              label="Contraseña"
              :type="'password'"
              v-model="user.password"
            ></v-text-field>
            <v-btn
              color="indigo darken-2 white--text"
              type="submit"
              :disabled="loading"
              >Iniciar sesión</v-btn
            >
            <span v-if="loading">
              <v-progress-circular
                :size="20"
                color="primary"
                indeterminate
              ></v-progress-circular>
            </span>
            <v-alert
              :value="notification"
              type="success"
              transition="scale-transition"
            >
              Hemos verificado tu cuenta. Ahora puedes iniciar sesión
            </v-alert>
            <v-alert :value="error" type="error" transition="scale-transition">
              {{ error }}
            </v-alert>
          </form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      user: {
        username: '',
        password: ''
      },
      error: null,
      notification: this.$route.query ? this.$route.query.verified : false,
      loading: false
    }
  },
  methods: {
    onSubmit() {
      this.loading = true
      this.$store
        .dispatch('auth/userLogin', {
          username: this.user.username,
          password: this.user.password
        })
        .then(() => {
          if (
            this.$store.state.auth.user.roles[0] === 'app_admin' ||
            this.$store.state.auth.user.roles[0] === 'sales_agent'
          ) {
            this.$router.push({ name: 'admin-events' })
          } else if (
            this.$store.state.auth.user.roles[0] === 'graduate' &&
            this.$store.state.auth.user.verificado
          ) {
            this.$router.push({ name: 'dashboard-event' })
          } else {
            this.$store.dispatch('auth/logout')
            this.error =
              'Antes de iniciar sesión es necesario que verifiques tu correo.'
          }
          this.loading = false
        })
        .catch(() => {
          this.error = 'El usuario o contraseña no son válidos.'
          this.loading = false
        })
    }
  }
}
</script>

<style scoped>
.login {
  min-height: 100vh;
}
</style>
