<template>
  <v-container class="register" fill-height fluid px-0>
    <v-layout align-center justify-center>
      <v-flex md8>
        <v-card class="pa-4">
          <h1 class="display-1">Registro</h1>
          <form @submit.prevent="onSubmit" class="body-1">
            <v-layout row wrap>
              <!-- <v-flex md6 pa-3>
                <v-text-field
                  label="Usuario"
                  v-model="user.username"
                ></v-text-field>
              </v-flex>-->
              <v-flex md6 pa-3>
                <v-text-field label="Email" v-model="user.email"></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field label="Nombre" v-model="user.name"></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Apellidos"
                  v-model="user.lastname"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Teléfono"
                  v-model="user.phone"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Contraseña"
                  :type="'password'"
                  v-model="user.password"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="No. de boletos"
                  :mask="'###'"
                  v-model="user.tickets"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Silla de ruedas"
                  :mask="'###'"
                  v-model="user.special_menu.wheelchair"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Menú de niños"
                  :mask="'###'"
                  v-model="user.special_menu.kids"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Personas alérgicas"
                  :mask="'###'"
                  v-model="user.special_menu.allergies"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Menú diabéticos"
                  :mask="'###'"
                  v-model="user.special_menu.diabetic"
                ></v-text-field>
              </v-flex>
              <v-flex md6 pa-3>
                <v-text-field
                  label="Menú vegetariano"
                  :mask="'###'"
                  v-model="user.special_menu.vegetarian"
                ></v-text-field>
              </v-flex>
              <input
                v-model="user.event"
                v-validate="'required'"
                name="event"
                type="text"
                class="d-none"
              />
            </v-layout>
            <v-btn color="indigo darken-2 white--text" type="submit"
              >Registrarme</v-btn
            >
          </form>
          <v-alert
            :value="notification"
            :type="notificationType"
            transition="scale-transition"
          >
            <span v-if="notificationType == 'success'"
              >Te hemos enviado un correo para que confirmes tu cuenta</span
            >
            <span v-else>El correo ya se encuentra registrado</span>
          </v-alert>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      user: {
        //username: '',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        password: '',
        event: this.$route.query.event_id,
        tickets: '',
        special_menu: {
          wheelchair: '',
          kids: '',
          allergies: '',
          diabetic: '',
          vegetarian: ''
        }
      },
      notification: false,
      notificationType: 'success'
    }
  },
  methods: {
    async onSubmit() {
      try {
        await this.$store.dispatch('auth/registerUser', this.user)
        this.notification = true
        this.notificationType = 'success'
      } catch (e) {
        console.log(e)
        this.notification = true
        this.notificationType = 'error'
      }
    }
  }
}
</script>

<style>
.register {
  min-height: 100vh;
}
</style>
