<template>
  <h1>Estamos verificando tu cuenta</h1>
</template>

<script>
export default {
  mounted() {
    this.$store.dispatch('auth/verifyAccount', this.$route.query).then(res => {
      if (typeof res !== 'undefined' && res.status == 200) {
        this.$router.push({ name: 'login', query: { verified: 'true' } })
      } else {
        this.$router.push({ name: 'login' })
      }
    })
  }
}
</script>

<style></style>
