<template>
  <div>
    <v-card>
      <v-card-title>
        <strong>Pagos</strong>
        <v-spacer></v-spacer>
        <v-icon class="mr-2" @click="showFilters()">
          tune
        </v-icon>
      </v-card-title>
      <v-data-table :headers="headers" :items="payments">
        <template v-slot:items="props">
          <td>{{ props.item.date }}</td>
          <td>{{ event(props.item) }}</td>
          <td>{{ graduate(props.item) }}</td>
          <td>{{ props.item.agent }}</td>
          <td>${{ props.item.quantity }}</td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="filterDialog" max-width="750px">
      <v-card>
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="computedDateFormattedMomentjs"
              clearable
              label="Fecha"
              prepend-inner-icon="event"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="event.date"
            @change="menu = false"
            locale="es"
          ></v-date-picker>
        </v-menu>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Fecha',
          value: 'date'
        },
        {
          text: 'Evento',
          value: 'event'
        },
        {
          text: 'Graduado',
          value: 'graduate'
        },
        {
          text: 'Agente',
          value: 'agent'
        },
        {
          text: 'Cantidad',
          value: 'quantity'
        }
      ],
      filterDialog: false
    }
  },
  async fetch({ store, error }) {
    try {
      await store.dispatch('payments/fetchPayments')
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch payments at this time. Please try again.'
      })
    }

    try {
      await store.dispatch('events/fetchEvents')
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch events at this time. Please try again.'
      })
    }

    try {
      await store.dispatch('users/fetchGraduates')
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch graduates at this time. Please try again.'
      })
    }
  },
  methods: {
    event(payment) {
      const event = this.events.find(event => event.id == payment.event_id)
      return event.title.rendered
    },
    graduate(payment) {
      const graduate = this.graduates.find(
        graduate => graduate.id == payment.user_id
      )
      return `${graduate.firstname} ${graduate.lastname}`
    },
    showFilters() {
      this.filterDialog = true
    }
  },
  computed: mapState({
    payments: state => state.payments.payments,
    events: state => state.events.events,
    graduates: state => state.users.graduates
  })
}
</script>

<style>
.nowrap {
  white-space: nowrap;
}
</style>
