<template>
  <div class="single-event">
    <h1 class="mb-4">{{ event.title.rendered }}</h1>
    <v-layout row wrap>
      <v-flex xs12 md7>
        <v-layout row wrap>
          <v-flex xs12 md6>
            <p>
              <strong>No. de boletos:</strong>
              {{ user.tickets ? user.tickets : '0' }}
            </p>
            <p>
              <strong>Precio del boleto:</strong>
              ${{
                event.precio_del_boleto
                  ? event.precio_del_boleto
                  : 'no definido'
              }}
            </p>
            <p>
              <strong>Fecha:</strong>
              {{ event.fecha }}
            </p>
            <p>
              <strong>Venue:</strong>
              {{ event.venue.post_title }}
            </p>
          </v-flex>
          <v-flex xs12 md6>
            <p>
              <strong>Total a pagar:</strong>
              ${{ user.total ? user.total : '0' }}
            </p>
            <p>
              <strong>Total pagado:</strong>
              ${{ user.total_paid ? user.total_paid : '0' }}
            </p>
            <a :href="event.facebook_url" target="_blank">Ver en facebook</a>
          </v-flex>
        </v-layout>
        <v-divider class="my-4"></v-divider>
        <h2 class="mb-3">Mi mesa</h2>
        <p>
          <strong>No. de mesa:</strong>
          {{ user.table_number ? user.table_number : 'No definido' }}
        </p>
        <p>
          <strong>Silla de ruedas:</strong>
          {{ user.menu_especial ? user.menu_especial.silla_de_ruedas : '0' }}
        </p>
        <p>
          <strong>Niños:</strong>
          {{ user.menu_especial ? user.menu_especial.ninos : '0' }}
        </p>
        <p>
          <strong>Alérgicos:</strong>
          {{ user.menu_especial ? user.menu_especial.alergicos : '0' }}
        </p>
        <p>
          <strong>Diabéticos</strong>
          {{ user.menu_especial ? user.menu_especial.diabeticos : '0' }}
        </p>
        <p>
          <strong>Vegetarianos</strong>
          {{ user.menu_especial ? user.menu_especial.vegetarianos : '0' }}
        </p>
      </v-flex>
      <v-flex xs12 md5>
        <v-img
          :src="event.layout.url"
          alt="Layout del evento"
          class="img-fluid"
        ></v-img>
      </v-flex>
    </v-layout>
    <v-divider class="my-4"></v-divider>
    <div v-html="event.description"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'graduate',
  async fetch({ store }) {
    await store.dispatch('events/fetchEvent', store.state.auth.user.event)
    await store.dispatch('venues/fetchVenue', store.state.events.event.venue.ID)
  },
  computed: mapState({
    user: state => state.auth.user,
    event: state => state.events.event,
    venue: state => state.venues.venue
  })
}
</script>

<style></style>
