<template>
  <v-card>
    <v-card-title>
      <strong>Pagos</strong>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers" :items="payments" :search="search">
      <template v-slot:items="props">
        <td>{{ props.item.date }}</td>
        <td>${{ props.item.quantity }}</td>
        <!-- <td class="text-xs-right nowrap">
            <nuxt-link
              :to="{
                name: 'admin-venues-edit-id',
                params: { id: props.item.id }
              }"
            >
              <v-icon small class="mr-2">
                edit
              </v-icon>
            </nuxt-link>
            <v-icon small class="mr-2" @click="deleteVenue(props.item)">
              delete
            </v-icon>
          </td> -->
      </template>
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'graduate',
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Fecha',
          value: 'date'
        },
        {
          text: 'Cantidad',
          value: 'quantity'
        }
      ]
    }
  },
  async fetch({ store, error }) {
    try {
      await store.dispatch(
        'payments/fetchPaymentsById',
        store.state.auth.user.id
      )
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch payments at this time. Please try again.'
      })
    }
  },
  computed: mapState({
    payments: state => state.payments.payments
  })
}
</script>

<style></style>
