<template>
  <div class="single-venue">
    <h1 class="mb-4">{{ venue.title.rendered }}</h1>
    <v-carousel>
      <v-carousel-item
        v-for="(item, i) in venue.gallery"
        :key="i"
        :src="item.image.url"
      ></v-carousel-item>
    </v-carousel>
    <div v-html="venue.description" class="mt-4"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'graduate',
  async fetch({ store }) {
    await store.dispatch('events/fetchEvent', store.state.auth.user.event)
    await store.dispatch('venues/fetchVenue', store.state.events.event.venue.ID)
  },
  computed: mapState({
    venue: state => state.venues.venue
  })
}
</script>

<style></style>
