<template>
  <div class="create-venue">
    <h1>Crear venue</h1>
    <venue-form></venue-form>
  </div>
</template>

<script>
import VenueForm from '@/components/venues/VenueForm'
export default {
  layout: 'admin',
  components: {
    VenueForm
  }
}
</script>

<style></style>
