<template>
  <div>
    <v-toolbar flat color="transparent">
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        dark
        class="mb-2"
        :to="{ name: 'admin-venues-create' }"
        >Crear venue</v-btn
      >
    </v-toolbar>
    <v-card>
      <v-card-title>
        <strong>Venues</strong>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="venues" :search="search">
        <template v-slot:items="props">
          <td>{{ props.item.title.rendered }}</td>
          <td class="text-xs-right">
            <nuxt-link
              :to="{
                name: 'admin-venues-edit-id',
                params: { id: props.item.id }
              }"
            >
              <v-icon small class="mr-2">
                edit
              </v-icon>
            </nuxt-link>
            <v-icon small class="mr-2" @click="deleteVenue(props.item)">
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Nombre',
          value: 'name'
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'right'
        }
      ]
    }
  },
  async fetch({ store, error }) {
    try {
      await store.dispatch('venues/fetchVenues')
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch venues at this time. Please try again.'
      })
    }
  },
  methods: {
    deleteVenue(venueObj) {
      if (venueObj.events) {
        this.$swal.fire({
          title: 'No puedes eliminar el venue',
          text: 'Este venue está asignado a uno o más eventos'
        })
      } else {
        this.$swal
          .fire({
            title: '¿Estás seguro que deseas eliminar el elemento?',
            text:
              'Asegúrate que no tengas ningún evento con este venue asignado'
          })
          .then(result => {
            if (result.value) {
              this.$store.dispatch('venues/deleteVenue', venueObj)
            }
          })
      }
    }
  },
  computed: mapState({
    venues: state => state.venues.venues
  })
}
</script>

<style></style>
