<template>
  <div class="single-event">
    <h1>{{ event.title.rendered }}</h1>
    <v-layout row wrap>
      <v-flex xs12 md6 pa-3>
        <p>
          <strong>No. Graduados:</strong>
          {{ graduates ? graduates.length : '0' }}
        </p>
        <p>
          <strong>No. Boletos:</strong>
          {{ numberTickets }}
        </p>
        <p>
          <strong>Precio del boleto:</strong>
          ${{ event.precio_del_boleto }}
        </p>
        <p>
          <strong>Fecha:</strong>
          {{ event.fecha }}
        </p>
        <p>
          <strong>Venue:</strong>
          {{ event.venue.post_title }}
        </p>
        <v-divider></v-divider>
        <h3 class="my-4">Menús especiales:</h3>
        <v-layout row>
          <v-flex md6>
            <p>
              <strong>Silla de ruedas:</strong>
              {{ special_menu.wheelchair }}
            </p>
            <p>
              <strong>Niños:</strong>
              {{ special_menu.kids }}
            </p>
            <p>
              <strong>Alérgicos:</strong>
              {{ special_menu.allergies }}
            </p>
          </v-flex>
          <v-flex md6>
            <p>
              <strong>Diabéticos:</strong>
              {{ special_menu.diabetic }}
            </p>
            <p>
              <strong>Vegetarianos:</strong>
              {{ special_menu.vegetarian }}
            </p>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 md6 pa-3>
        <v-img :src="event.layout.url" alt=""></v-img>
      </v-flex>
    </v-layout>
    <v-card>
      <v-card-title>
        <strong>Graduados</strong>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="graduates"
        :items-per-page="30"
        :rows-per-page-items="[20, 10, 30, 40]"
        :search="search"
      >
        <template v-slot:items="props">
          <tr :class="{ 'red lighten-5': !props.item.verificado }">
            <td>{{ `${props.item.firstname} ${props.item.lastname}` }}</td>
            <td>{{ props.item.phone }}</td>
            <td>{{ props.item.email }}</td>
            <td>{{ props.item.tickets ? props.item.tickets : 0 }}</td>
            <td>
              {{ props.item.table_number ? props.item.table_number : '-' }}
            </td>
            <td>${{ props.item.total ? props.item.total : 0 }}</td>
            <td>
              ${{
                props.item.total && props.item.total_paid
                  ? props.item.total - props.item.total_paid
                  : props.item.total
                  ? props.item.total
                  : 0
              }}
            </td>
            <td class="nowrap">
              <v-icon small class="mr-2" @click="viewDetails(props.item)"
                >launch</v-icon
              >
              <v-icon
                small
                class="mr-2"
                @click="openPaymentDialog(props.item.id)"
                v-if="props.item.verificado"
                >receipt</v-icon
              >
              <v-icon
                small
                class="mr-2"
                @click="resendConfirmationMail(props.item.id)"
                v-else
                >mail</v-icon
              >
              <nuxt-link
                :to="{
                  name: 'admin-graduates-edit-id',
                  params: { id: props.item.id }
                }"
              >
                <v-icon small class="mr-2">
                  edit
                </v-icon>
              </nuxt-link>
              <v-icon
                small
                class="mr-2"
                @click="deleteGraduate(props.item)"
                v-if="is_admin"
              >
                delete
              </v-icon>
            </td>
          </tr>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <v-layout row justify-center>
      <v-dialog v-model="dialog" max-width="992px">
        <v-card>
          <v-card-title class="headline">
            {{ graduate.firstname }} {{ graduate.lastname }}
            <v-spacer></v-spacer>
            <v-icon @click.stop="dialog = false">close</v-icon>
          </v-card-title>
          <v-layout row wrap>
            <v-flex md6>
              <p class="px-3">
                <strong>Teléfono:</strong>
                {{ graduate.phone }}
              </p>
              <p class="px-3">
                <strong>Correo:</strong>
                {{ graduate.email }}
              </p>
              <p class="px-3">
                <strong>Mesas:</strong>
                {{
                  graduate.table_number ? graduate.table_number : 'No definido'
                }}
              </p>
              <p class="px-3">
                <strong>No. de boletos:</strong>
                {{ graduate.tickets ? graduate.tickets : 'No definido' }}
              </p>
            </v-flex>
            <v-flex md6>
              <p class="px-3">
                <strong>Total:</strong>
                ${{ graduate.total ? graduate.total : 0 }}
              </p>
              <p class="px-3">
                <strong>Deuda:</strong>
                ${{
                  graduate.total && graduate.total_paid
                    ? graduate.total - graduate.total_paid
                    : graduate.total
                    ? graduate.total
                    : 0
                }}
              </p>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <h3 class="pa-3">Menús especiales</h3>
          <v-layout row wrap>
            <v-flex md6>
              <p class="px-3">
                <strong>Silla de ruedas:</strong>
                {{
                  graduate.menu_especial
                    ? graduate.menu_especial.silla_de_ruedas
                    : 0
                }}
              </p>
              <p class="px-3">
                <strong>Niños:</strong>
                {{ graduate.menu_especial ? graduate.menu_especial.ninos : 0 }}
              </p>
              <p class="px-3">
                <strong>Alérgicos:</strong>
                {{
                  graduate.menu_especial ? graduate.menu_especial.alergicos : 0
                }}
              </p>
              <p class="px-3">
                <strong>Diabéticos:</strong>
                {{
                  graduate.menu_especial ? graduate.menu_especial.diabeticos : 0
                }}
              </p>
              <p class="px-3">
                <strong>Vegetarianos:</strong>
                {{
                  graduate.menu_especial
                    ? graduate.menu_especial.vegetarianos
                    : 0
                }}
              </p>
            </v-flex>
          </v-layout>
          <v-data-table :headers="graduatePaymentsHeaders" :items="payments">
            <template v-slot:items="props">
              <td>{{ props.item.date }}</td>
              <td>{{ props.item.agent }}</td>
              <td>${{ props.item.quantity }}</td>
            </template>
          </v-data-table>
        </v-card>
      </v-dialog>
      <v-dialog v-model="paymentDialog" max-width="750px">
        <v-card>
          <v-card-title class="headline">
            {{ graduate.firstname }} {{ graduate.lastname }}
            <v-spacer></v-spacer>
            <v-icon @click.stop="paymentDialog = false">close</v-icon>
          </v-card-title>
          <h2 class="pa-3">
            <strong>Restante:</strong>
            ${{
              graduate.total && graduate.total_paid
                ? graduate.total - graduate.total_paid
                : graduate.total
                ? graduate.total
                : 0
            }}
          </h2>
          <form class="pa-3">
            <v-text-field
              v-model="payment"
              label="Cantidad"
              data-vv-name="amount"
              prepend-inner-icon="attach_money"
              :mask="'######'"
            ></v-text-field>
            <!-- <v-alert :value="errors.has('amount')" type="warning">
              {{ errors.first('amount') }}
            </v-alert> -->
            <v-btn
              color="indigo darken-2 white--text ma-0"
              @click="registerPayment()"
              >Registrar pago</v-btn
            >
            <v-btn
              color="red darken-2 white--text ma-0"
              @click="registerRefund()"
              >Registrar reembolso</v-btn
            >
          </form>
        </v-card>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  data() {
    return {
      payment: 0,
      search: '',
      headers: [
        {
          text: 'Nombre',
          value: 'firstname'
        },
        {
          text: 'Teléfono',
          value: 'phone'
        },
        {
          text: 'Correo',
          value: 'email'
        },
        {
          text: 'No. de boletos',
          value: 'tickets'
        },
        {
          text: 'No. de mesa',
          value: 'numero_de_mesa'
        },
        {
          text: 'Total',
          value: 'total'
        },
        {
          text: 'Deuda',
          value: 'deuda'
        },
        {
          text: 'Acciones',
          value: 'acciones'
        }
      ],
      dialog: false,
      paymentDialog: false,
      graduatePaymentsHeaders: [
        {
          text: 'Fecha',
          value: 'date'
        },
        {
          text: 'Cobrado por',
          value: 'agent'
        },
        {
          text: 'Cantidad',
          value: 'amount'
        }
      ]
    }
  },
  async fetch({ store, params, error }) {
    try {
      await store.dispatch('events/fetchEvent', params.id)
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch event at this time. Please try again.'
      })
    }

    try {
      await store.dispatch('users/fetchGraduatesByEvent', params.id)
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch graduates at this time. Please try again.'
      })
    }
  },
  methods: {
    async viewDetails(user) {
      await this.$store.dispatch('users/fetchGraduate', user.id)
      await this.$store.dispatch('payments/fetchPaymentsById', user.id)
      this.dialog = true
    },
    async openPaymentDialog(id) {
      await this.$store.dispatch('users/fetchGraduate', id)
      this.paymentDialog = true
    },
    async resendConfirmationMail(id) {
      console.log(id)
      await this.$store.dispatch('users/sendConfirmationMail', id)
      this.$swal.fire({
        title: 'Correo enviado',
        text: 'Se ha enviado el correo de confirmación al usuario'
      })
    },
    registerPayment() {
      let remaining = 0
      if (this.graduate.total && this.graduate.total_paid) {
        remaining = this.graduate.total - this.graduate.total_paid
      } else if (this.graduate.total) {
        remaining = this.graduate.total
      }
      if (this.payment > remaining) {
        this.$swal.fire({
          title: 'No se puede procesar el pago',
          text: 'El pago no puede ser mayor a la deuda'
        })
      } else {
        this.$store
          .dispatch('payments/createPayment', {
            graduateName: `${this.graduate.firstname} ${this.graduate.lastname}`,
            quantity: this.payment,
            graduateId: this.graduate.id,
            eventId: this.event.id,
            agent: `${this.$store.state.auth.user.firstname} ${this.$store.state.auth.user.lastname}`
          })
          .then(() => {
            location.reload()
          })
      }
    },
    registerRefund() {
      if (parseInt(this.payment) > parseInt(this.graduate.total_paid)) {
        this.$swal.fire({
          title: 'No se puede procesar el reembolso',
          text: 'El reembolso no puede ser mayor al total de lo pagado'
        })
      } else {
        this.$swal
          .fire({
            title: '¿Estás seguro que deseas realizar un reembolso?'
          })
          .then(result => {
            if (result.value) {
              this.$store
                .dispatch('payments/createPayment', {
                  graduateName: `${this.graduate.firstname} ${this.graduate.lastname}`,
                  quantity: parseInt('-' + this.payment),
                  graduateId: this.graduate.id,
                  eventId: this.event.id,
                  agent: `${this.$store.state.auth.user.firstname} ${this.$store.state.auth.user.lastname}`
                })
                .then(() => {
                  location.reload()
                })
            }
          })
      }
    },
    async deleteGraduate(graduate) {
      //await this.$store.dispatch('payments/fetchPaymentsById', graduate.id)
      console.log(graduate)
      if (graduate.verificado && graduate.total > 0) {
        this.$swal.fire({
          title: 'No puedes eliminar al graduado',
          text: 'Primero debes dejar el saldo en 0'
        })
      } else {
        this.$swal
          .fire({
            title: '¿Estás seguro que deseas eliminar el elemento?',
            text: 'Estás por eliminar al graduado'
          })
          .then(result => {
            if (result.value) {
              this.$store.dispatch('users/deleteUser', graduate.id).then(() => {
                location.reload()
              })
            }
          })
      }
    }
  },
  computed: mapState({
    is_admin: state => {
      if (state.auth.user.roles[0] === 'app_admin') {
        return true
      } else {
        return false
      }
    },
    event: state => state.events.event,
    graduates: state => state.users.graduates,
    graduate: state => state.users.graduate,
    payments: state => state.payments.payments,
    special_menu: state => {
      let wheelchair = 0
      let kids = 0
      let allergies = 0
      let diabetic = 0
      let vegetarian = 0
      state.users.graduates.forEach(graduate => {
        wheelchair =
          wheelchair +
          parseInt(
            graduate.menu_especial && graduate.menu_especial.silla_de_ruedas
              ? graduate.menu_especial.silla_de_ruedas
              : 0
          )
        kids =
          kids +
          parseInt(
            graduate.menu_especial && graduate.menu_especial.ninos
              ? graduate.menu_especial.ninos
              : 0
          )
        allergies =
          allergies +
          parseInt(
            graduate.menu_especial && graduate.menu_especial.alergicos
              ? graduate.menu_especial.alergicos
              : 0
          )
        diabetic =
          diabetic +
          parseInt(
            graduate.menu_especial && graduate.menu_especial.diabeticos
              ? graduate.menu_especial.diabeticos
              : 0
          )
        vegetarian =
          vegetarian +
          parseInt(
            graduate.menu_especial && graduate.menu_especial.vegetarianos
              ? graduate.menu_especial.vegetarianos
              : 0
          )
      })
      return {
        wheelchair,
        kids,
        allergies,
        diabetic,
        vegetarian
      }
    },
    numberTickets: state => {
      let ticketNumber = 0
      state.users.graduates.forEach(graduate => {
        ticketNumber = ticketNumber + parseInt(graduate.tickets)
      })
      return ticketNumber
    }
  })
}
</script>

<style>
a {
  text-decoration: none;
}
.nowrap {
  white-space: nowrap;
}
</style>
