<template>
  <div class="edit-event">
    <h1>Crear evento</h1>
    <event-form :venues="venues"></event-form>
  </div>
</template>

<script>
import EventForm from '@/components/events/EventForm'
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  components: {
    EventForm
  },
  async fetch({ store }) {
    try {
      await store.dispatch('venues/fetchVenues')
    } catch (e) {
      console.log(e)
    }
  },
  computed: mapState({
    venues: state => state.venues.venues
  })
}
</script>

<style></style>
