<template>
  <div>
    <v-toolbar flat color="transparent">
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        dark
        class="mb-2"
        :to="{ name: 'admin-events-create' }"
        >Crear evento</v-btn
      >
    </v-toolbar>
    <v-card>
      <v-card-title>
        <strong>Eventos</strong>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="events" :search="search">
        <template v-slot:items="props">
          <td>{{ props.item.title.rendered }}</td>
          <td>{{ props.item.escuela }}</td>
          <td>{{ props.item.fecha }}</td>
          <td>{{ props.item.venue.post_title }}</td>
          <td>{{ `${baseUrl}/register/?event_id=${props.item.id}` }}</td>
          <td>${{ props.item.balance ? props.item.balance : 0 }}</td>
          <td class="nowrap text-xs-right">
            <nuxt-link
              :to="{ name: 'admin-events-id', params: { id: props.item.id } }"
            >
              <v-icon small class="mr-2">launch</v-icon>
            </nuxt-link>
            <nuxt-link
              :to="{
                name: 'admin-events-edit-id',
                params: { id: props.item.id }
              }"
            >
              <v-icon small class="mr-2">
                edit
              </v-icon>
            </nuxt-link>
            <v-icon
              small
              class="mr-2"
              @click="deleteEvent(props.item)"
              v-if="is_admin"
            >
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  data() {
    return {
      baseUrl: process.env.baseUrl,
      search: '',
      headers: [
        {
          text: 'Nombre',
          value: 'title.rendered'
        },
        {
          text: 'Escuela',
          value: 'escuela'
        },
        {
          text: 'Fecha',
          value: 'fecha'
        },
        {
          text: 'Venue',
          value: 'venue.post_title'
        },
        {
          text: 'URL',
          value: 'url'
        },
        {
          text: 'Saldo',
          value: 'balance'
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'right'
        }
      ]
    }
  },
  async fetch({ store, error }) {
    try {
      await store.dispatch('events/fetchEvents')
    } catch (e) {
      error({
        statusCode: 503,
        message: 'Unable to fetch events at this time. Please try again.'
      })
    }
  },
  methods: {
    deleteEvent(event) {
      this.$swal
        .fire({
          title: '¿Estás seguro que deseas eliminar el elemento?',
          text:
            'Se eliminarán todos los graduados y pagos asociados a este evento'
        })
        .then(result => {
          if (result.value) {
            this.$store.dispatch('events/deleteEvent', event)
          }
        })
    }
  },
  computed: mapState({
    events: state => state.events.events,
    is_admin: state => {
      if (state.auth.user.roles[0] === 'app_admin') {
        return true
      } else {
        return false
      }
    }
  })
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
