<template>
  <div class="create-agent">
    <h1>Crear agente</h1>
    <agent-form></agent-form>
  </div>
</template>

<script>
import AgentForm from '@/components/agents/AgentForm'
export default {
  layout: 'admin',
  components: {
    AgentForm
  }
}
</script>

<style></style>
