<template>
  <div>
    <v-toolbar flat color="transparent">
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        dark
        class="mb-2"
        :to="{ name: 'admin-agents-create' }"
        >Crear agente</v-btn
      >
    </v-toolbar>
    <v-card>
      <v-card-title>
        <strong>Agentes</strong>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="agents" :search="search">
        <template v-slot:items="props">
          <td>{{ props.item.firstname }} {{ props.item.lastname }}</td>
          <td>{{ props.item.phone }}</td>
          <td>{{ props.item.email }}</td>
          <td class="text-xs-right">
            <nuxt-link
              :to="{
                name: 'admin-agents-edit-id',
                params: { id: props.item.id }
              }"
            >
              <v-icon small class="mr-2">
                edit
              </v-icon>
            </nuxt-link>
            <v-icon small class="mr-2" @click="deleteAgent(props.item.id)">
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  layout: 'admin',
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Nombre',
          value: 'firstname'
        },
        {
          text: 'Teléfono',
          value: 'phone'
        },
        {
          text: 'Correo',
          value: 'email'
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'right'
        }
      ]
    }
  },
  async fetch({ store, error }) {
    try {
      await store.dispatch('users/fetchAgents')
    } catch (e) {
      console.log(e)
      error({
        statusCode: 503,
        message: 'Unable to fetch agents at this time. Please try again.'
      })
    }
  },
  methods: {
    async deleteAgent(id) {
      this.$swal
        .fire({
          title: '¿Estás seguro que deseas eliminar el elemento?'
        })
        .then(result => {
          if (result.value) {
            this.$store.dispatch('users/deleteUser', id).then(() => {
              location.reload()
            })
          }
        })
    }
  },
  computed: mapState({
    agents: state => state.users.agents
  })
}
</script>

<style></style>
